.primary-button {
  cursor: pointer;
  padding: 1.2rem 2.5rem;
  background-image: url("https://htmlcolorcodes.com/assets/images/colors/matte-black-color-solid-background-1920x1080.png");
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  transition-property: background-position, border, color;
  position: relative;
  z-index: 1;
}

.primary-button:hover {
  border: 1px solid #ffffff;
  color: white;
  background-position: 40%;
}

.primary-button:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
  background-color: white;
}

.primary-button:hover:after {
  background-color: white;
}

.primary-button:after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -1px;
  transition: background-color 0.15s ease-in-out;
}

.borders-div {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.borders-div:before {
  content: "";
  position: absolute;
  width: calc(100% + 1em);
  height: 50%;
  left: -0.5em;
  top: -0.6em;
  border: 2px solid #0e1822;
  border-bottom: 0px;
}

.borders-div:after {
  content: "";
  position: absolute;
  width: calc(100% + 1em);
  height: 50%;
  left: -0.5em;
  bottom: -0.6em;
  border: 2px solid #0e1822;
  border-top: 0px;
  z-index: 0;
}
